<div class="container">
  <div class="row">
    <div class="col-md-4">
          <a class="btn btn-large" ng-click="googleSignin()" > Google SignIn </a>
          <a class="btn btn-large" ng-click="linkedSignin()" > LinkedIn SignIn </a>
          <a class="btn btn-large" href="/auth/intuit">Login with Intuit</a>
          <!-- <button class="btn btn-default" ng-click="signin()" />GOOGLE AUTH</button> -->
    </div>
    <div class="col-md-4">
      <div id="login"></div>

    </div>
    <div class="col-md-4">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>

